<!DOCTYPE html>
<html lang="en" ng-app="ethDapp">
  <head>
  
    <script src="lib/angular/angular.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body ng-controller="EthListController">
    <label>Filter: <input ng-model="searchText"></label><br>
    <div ng-repeat="dapp in dappList | filter:searchText">
      <h3>{{dapp.Name}}</h3>
      <p>{{dapp.Description}}</p>
      <p ng-show='{{!!dapp.Site}}'>{{dapp.Site}}</p>
      <p ng-show='{{!!dapp.Gitgub}}'>{{dapp.Gitgub}}</p>
      <p ng-show='{{!!dapp.Developer}}'>{{dapp.Developer}}</p>
    </div>


  </body>
</html>