<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">

    <script src="lib/angular/angular.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body ng-app="ethDapp">
    <div ng-controller="EthListController">
      <label>Filter: <input ng-model="searchText"></label><br>
      <div ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="50" flex>
          <md-content>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">decentralized apps</md-subheader>
              <md-divider ></md-divider>
              <md-list-item class="md-3-line" ng-repeat="dapp in dappList | filter:searchText" ng-click="findTweets(dapp.Name)">
                <div class="md-list-item-text" layout="column">
                  <h3>{{dapp.Name}}</h3>
                  <p>{{dapp.Description}}</p>
                  <p ng-show='{{!!dapp.Site}}'>Website: {{dapp.Site}}</p>
                  <p ng-show='{{!!dapp.GitHub}}'>Github: {{dapp.GitHub}}</p>
                  <p ng-show='{{!!dapp.Developer}}'>by {{dapp.Developer}}</p>
                </div>
              </md-list-item> 
            </md-list>
          </md-content>
        </div>
        <div ng-show='{{tweetList.length}}' flex-gt-sm="50" flex>  
          <md-content>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Tweets</md-subheader>
              <md-divider ></md-divider>
              <md-list-item class="md-3-line" ng-repeat="tweet in tweetList">
                <img ng-src="{{tweet.user.profile_image_url}}" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                  <h3>{{tweet.user.name}}</h3>
                  <p>{{tweet.text}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
      </div>  
    </div>

  </body>
</html>